* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #f3f3f3;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
}

iframe {
  border: 0;
  height: 100%;
  width: 100%;
  background: white;
}

textarea {
  background-color: #333;
  width: 100%;
  height: 100%;
  border: 0;
  color: #fff;
  font-family: "Roboto Mono", monospace;
  padding: 24px;
  resize: none;
  box-shadow: 0 0 0 0.1px rgba(255, 255, 255, 0.3);
  background-repeat: no-repeat;
  background-size: 36px;
  background-position: calc(100% - 16px) calc(100% - 16px);
}

textarea:focus {
  outline: none;
}
#js {
  background-image: url("/public/js.svg");
}

#html {
  background-image: url("/public/html.svg");
}

#css {
  background-image: url("/public/css.svg");
}

.grid {
  display: grid;
  grid-template-columns: 1fr 5px 1fr;
  grid-template-rows: 1fr 5px 1fr;
  height: 100vh;
}

.vertical-gutter {
  cursor: col-resize;
  grid-area: 1 / 2 / 4 / 2;
  background-color: #fff;
}

.horizontal-gutter {
  cursor: row-resize;
  grid-area: 2 / 1 / 2 / 4;
  background-color: #fff;
}
