* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #f3f3f3;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
}

iframe {
  border: 0;
  height: 100%;
  width: 100%;
  background: white;
}

#js::after {
  background-image: url("/public/js.svg");
}

#html::after {
  background-image: url("/public/html.svg");
}

#css::after {
  background-image: url("/public/css.svg");
}

.grid {
  display: grid;
  grid-template-columns: 1fr 5px 1fr;
  grid-template-rows: 1fr 5px 1fr;
  height: 100vh;
}

.vertical-gutter {
  cursor: col-resize;
  grid-area: 1 / 2 / 4 / 2;
  background-color: #fff;
}

.horizontal-gutter {
  cursor: row-resize;
  grid-area: 2 / 1 / 2 / 4;
  background-color: #fff;
}

.editor {
  position: relative;
  overflow: hidden;
}

.editor::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  right: 16px;
  bottom: 16px;
  z-index: 1;
  width: 48px;
  height: 48px;
}
